:root {
    --dark-blue: #005eeb;
    --primary-background: #222d68;
    --red: #ee2a38;
    --white: #fff;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-background);
}

.bg-main {
    background-color: var(--primary-background) !important;
}

.bg-dark-blue {
    background-color: var(--dark-blue) !important;
}

.fs-7 {
    font-size: 0.9rem !important;
}

.navbar-brand img {
    width: 100px;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.nav-link:hover {
    color: var(--white) !important;
}

.nav-link.active {
    position: relative;
    color: var(--white) !important;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 3px;
    left: 0;
    border-radius: 3px;
    bottom: 0;
    background: var(--white);
}

.offcanvas {
    background-color: var(--primary-background) !important;
}

.footer-link {
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.footer-link > svg {
    display: none;
    transition: all 0.3s;
}

.footer-link:hover {
    transform: translateX(5px);
}

.footer-link:hover > svg {
    display: block;
}

.transition-all {
    transition: all 0.3s !important;
}

.badge-light:hover {
    background-color: #ddd !important;
}

.category-filters {
    width: 230px !important;
    overflow: scroll;
}

.product {
    width: 170px !important;
}

.product-header {
    width: 170px !important;
    height: 170px !important;
}

.product-title {
    transition: all 0.125s ease-in-out;
}

.product:hover .product-title {
    color: var(--red) !important;
}

.link {
    transition: all 0.3s !important;
}

.link:hover {
    color: #aaa !important;
}

.size-square {
    width: 44px !important;
    height: 44px !important;
}

.brand-container {
    animation: slide-to-left 35s ease-in-out infinite alternate-reverse;
}

.brand-container:hover {
    animation-play-state: paused !important;
}

.brand-item {
    transition: all 0.3s !important;
    color: #aaa !important;
}

.brand-item:hover {
    color: #fff !important;
}

.feedback-container {
    position: relative;
}

.feedback-item-wrapper {
    position: absolute;
    top: -50px;
    left: 40px;
}

.feedback-icon {
    position: absolute;
    top: -10px;
    left: 40px;
}

.feedback-item {
    width: 18rem !important;
    height: 330px !important;
}

.feedback-item > img {
    width: 100% !important;
    height: 250px !important;
    object-fit: cover !important;
}

.mission {
    list-style-type: square;
}

.mission > li::marker {
    color: var(--dark-blue);
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.product-detail-image {
    max-width: 500px;
    width: 100%;
    height: 250px;
    object-fit: cover !important;
}

#navMenu {
    position: fixed;
    top: 70px;
    right: -100%;
    z-index: 100;
    height: 100dvh;
    padding-left: 1rem !important;
    width: 70%;
    transition: all 0.3s !important;
    background-color: var(--primary-background);
}

#navMenu.show {
    right: 0 !important;
}

@keyframes slide-to-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}

@media screen and (min-width: 768px) {
    .navbar-brand img {
        width: 120px;
    }

    .carousel-item {
        height: 400px !important;
    }

    .category-filters {
        width: auto !important;
        overflow: hidden;
    }

    .product {
        width: 220px !important;
    }

    .product-header {
        width: 220px !important;
        height: 220px !important;
    }

    .img-potrait {
        min-height: 60dvh !important;
    }

    .product-detail-image {
        height: auto;
    }
}

@media screen and (min-width: 1024px) {
    #navMenu {
        position: static !important;
        display: flex !important;
        height: auto;
        width: auto;
    }

    .nav-link.active::after {
        width: 30%;
        left: 50%;
        transform: translateX(-50%);
    }

    .product {
        width: 250px !important;
    }

    .product-header {
        width: 250px !important;
        height: 250px !important;
    }

    .news-item {
        width: 19.5rem !important;
        height: 350px !important;
    }

    .news-item > img {
        object-fit: contain;
        height: 200px;
        max-height: 300px;
    }

    .img-potrait {
        min-height: 80dvh !important;
    }
}
